* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100%;
  height: 80px;
  background: #6a1b9a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
}

.logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.logo span {
  color: gold;
}

.search-bar {
  display: flex;
}

.search-bar input {
  width: 250px;
  padding: 10px;
  border: none;
  outline: none;
}

.search-bar button {
  width: 50px;
  border: none;
  background: gold;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 17px;
}

.signup-btn {
  background: gold;
  color: #6a1b9a !important;
  padding: 8px 15px;
  border-radius: 20px;
}